<h2>New message</h2>

<%= render "form.html", changeset: @changeset,
                        action: document_message_path(@conn, :create, @document) %>

<%= link "Back", to: document_message_path(@conn, :index, @document) %>
