<div class="row">
  <div class="col-sm-8">
    <%= render "form.html", changeset: @changeset,
                            action: document_path(@conn, :update, @document) %>
  </div>
  <div class="col-sm-4">
    <div id="messages" class="col-sm-12"></div>

    <input id="message-input" class="col-sm-12" placeholder="Send..."/>
  </div>

</div>
<%= link "Back", to: document_path(@conn, :index) %>
